{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"func-name-matching": 1,
		"id-length": 0,
		"max-statements": [2, 14],
		"new-cap": [2, {
			"capIsNewExceptions": [
				"ArrayCreate",
				"Construct",
				"CreateDataPropertyOrThrow",
				"IsConstructor",
				"Set",
				"ToString",
			],
		}],
		"no-magic-numbers": 0,
		"operator-linebreak": [2, "before"],
		"quote-props": [2, "always"],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": 0,
				"max-len": 0,
				"max-statements": 0,
				"no-useless-call": 0,
			},
		},
	],
}
